<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= game.title %></h1>
    <p class="new-dev">Made in <%= game.year %> by <%= game.developer %> on <%= game.system %></p>

    <% if(game.retiredon){ %> 
      <p>Deleted on: <%= game.retiredon %></p> 
    <% } %>
    
    <% if(!game.retiredon){ %> 
      <a href="/game/<%= game.id %>/update">Update Game</a>
      <a href="/game/<%= game.id %>/delete">Delete Game</a>
    <% } %>

  </body>
</html>