<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= system.name %></h1>
    <p><%= system.name %> gamepads: <%= system.gamepads %></p>
    <a href="/system/<%= systemId %>/update">Update <%= system.name %> gamepads</a>

    <ul>
      <% games.forEach((game) => { %>
        <li>
          <a href="/game/<%= game.id %>"><%= game.title %></a>
          <p>Made in <%= game.year %> by <%= game.developer %></p>
        </li>
      <% }); %>
    </ul>
    <a href="/system/<%= systemId %>/new-game">Add New Game</a>
    <a href="/system/<%= systemId %>/delete">Delete <%= system.name %></a>
  </body>
</html>