<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <head>
    <link rel="stylesheet" href="/input.css" />
    <link rel="stylesheet" href="/button.css" />
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>Delete <%= game.title %></h1>
    <p>Are you sure you want to delete <%= game.title %>?</p>

    <form method="POST" action="/game/<%= game.id %>/delete">
      <p class="input-container">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" />
      </p>
      <button type="submit">Delete</button>
    </form>
    <p><%= error %></p>
  </body>
</html>
