<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete <%= system.name %></title>
  </head>
  <body>
    <h1>Delete <%= system.name %></h1>
    <p>Are you sure you want to delete <%= system.name %>?</p>

    <form method="POST" action="/system/<%= system.id %>/delete">
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" />
        <br />
        <button type="submit">Delete</button>
      </div>
    </form>
    <p><%= error %></p>
  </body>
</html>
