<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <head>
    <link rel="stylesheet" href="/radio.css" />
    <link rel="stylesheet" href="/button.css" />
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1>Update <%= game.title %></h1>
    <p>Current system is <%= game.system %></p>

    <form method="POST" action="/game/<%= game.id %>/update">
      <fieldset>
        <legend>Please select new system:</legend>
        <div class="radio-group">
          <% systems.forEach((system) => { %>
            <input class="radio-input" type="radio" 
            id="<%= system.name %>" name="systemId" value="<%= system.id %>" />
            <label class="radio-label" for="<%= system.name %>">
              <span class="radio-inner-circle"></span>
              <%= system.name %>
            </label>
          <% }); %>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </fieldset>
    </form>

    <p>If system is not shown, please add a new system here:</p>
    <a href="/new-system">Add new system</a>
  </body>
</html>
